a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item .list-group-item-heading:hover {
  color: white !important; 
  text-decoration: none;
  background-color: #339933 !important; 
}














